# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data
df = pd.read_csv('C://Users/Nikolay/Downloads/Metro_Interstate_Traffic_Volume.csv')

In [4]:
# Observe top 10 observations (int)
df.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
df.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
df.columns

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [7]:
# Q1.1 How many columns end with a vowel?
# Q1.2 How many columns start with a vowel?
# Q1.3 Which columns are associated with the condition of weather?
# Q1.4 How many columns have `th` in their names?

vowel_start, vowel_end, th_columns, = 0, 0, 0
weather_column_list = ['temp', 'rain_1h', 'snow_1h', 'clouds_all', \
                       'weather_main', 'weather_description']
for i in df.columns:
    if i[-1] in ('a', 'e', 'i', 'o', 'u', 'y'):
        vowel_end += 1
    if i[0] in ('a', 'e', 'i', 'o', 'u', 'y'):
        vowel_start += 1
    if i.count('th') > 0:
        th_columns += 1
    if i.count('weather') > 0:
        weather_column_list.append(i)
print(f"Q1.1 answer is {vowel_end} \nQ1.2 answer is {vowel_start} \
      \nQ1.3 answer is {weather_column_list} \nQ1.4 answer is {th_columns}")

Q1.1 answer is 3
Q1.2 answer is 0
Q1.3 answer is ['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main', 'weather_description', 'weather_main', 'weather_description']
Q1.4 answer is 2

In [8]:
# Print data size (int)
print(df.size)
# Q2.1 How many observations are in the data?
print(f"There are {df.shape[0]} observations")
# Q2.2 How many features are in the data?
print(f"There are {df.shape[1]} features")

433836
There are 48204 observations
There are 9 features

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [9]:
# Display number of not NaN's in every column (int)
print(f"number of not NaN's in every column: \n{df.count()}")
# Q3.1 How many NA values are in the `clouds_all` column?
# Q3.2 How many NA values are in the `temp` column?
# Q3.3 How many NA values are in the `rain_1h` column?
# Q3.4 How many NA values are in the `snow_1h` column?
# Q3.5 How many explicit NA values are in the `traffic_volume` column?

print(f"Q3.1 NA values in the `clouds_all`:{df.clouds_all.isna().sum()} \
      \nQ3.2 NA values are in the `temp`: {df.temp.isna().sum()} \
      \nQ3.3 NA values are in the `rain_1h`: {df.rain_1h.isna().sum()} \
      \nQ3.4 NA values are in the `snow_1h`: {df.snow_1h.isna().sum()} \
      \nQ3.5 explicit NA values in the `traffic_volume`: {df.traffic_volume.isna().sum()}")

number of not NaN's in every column:
holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64
Q3.1 NA values in the `clouds_all`:3
Q3.2 NA values are in the `temp`: 1
Q3.3 NA values are in the `rain_1h`: 1
Q3.4 NA values are in the `snow_1h`: 0
Q3.5 explicit NA values in the `traffic_volume`: 5

In [10]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
df.dropna(inplace = True)

In [11]:
# Display basic data statistics using .describe()
df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [12]:
# Count number of unique values in every column (int)
print(f"number of unique values in every column : \n{df.nunique()}")

# Q4.1 How many unique values are in the `clouds_all` column?
# Q4.2 How many unique values are in the `weather_main` column?
# Q4.3 How many unique values are in the `weather_description` column?
# Q4.4 How many unique values are in the `snow_1h` column?
# Q4.5 How many unique values are in the `rain_1h` column?

print(f"Q4.1 unique values in the `clouds_all`:{df.clouds_all.nunique()} \
      \nQ4.2 unique values are in the `weather_main`: {df.weather_main.nunique()} \
      \nQ4.3 unique values are in the `weather_description`: {df.weather_description.nunique()} \
      \nQ4.4 unique values are in the `snow_1h`: {df.snow_1h.nunique()} \
      \nQ4.5 unique values in the `rain_1h`: {df.rain_1h.nunique()}")

number of unique values in every column :
holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40562
traffic_volume          6704
dtype: int64
Q4.1 unique values in the `clouds_all`:60
Q4.2 unique values are in the `weather_main`: 11
Q4.3 unique values are in the `weather_description`: 38
Q4.4 unique values are in the `snow_1h`: 12
Q4.5 unique values in the `rain_1h`: 372

In [13]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

# Q5.1 For every unique `weather_main` value give its number of occurences.
# Q5.2 For every unique `weather_description` value give its number of occurences.

print(f"Q5.1 `weather_main` number of occurences : \n{df['weather_main'].value_counts()} \
      \nQ5.2 `weather_description` number of occurences: \n{df['weather_description'].value_counts()}")

Q5.1 `weather_main` number of occurences :
Clouds          15159
Clear           13384
Mist             5950
Rain             5671
Snow             2876
Drizzle          1821
Haze             1359
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64
Q5.2 `weather_description` number of occurences:
sky is clear                           11658
mist                                    5950
overcast clouds                         5081
broken clouds                           4665
scattered clouds                        3458
light rain                              3371
few clouds                              1955
light snow                              1946
Sky is Clear                            1726
moderate rain                           1664
haze                                    1359
light intensity drizzle                 1100
fog                                      912
proximity thunderstorm                   673
drizzle                                  651
heavy snow                               616
heavy intensity rain                     467
snow                                     293
proximity shower rain                    136
thunderstorm                             125
heavy intensity drizzle                   64
thunderstorm with heavy rain              63
thunderstorm with light rain              54
proximity thunderstorm with rain          52
thunderstorm with rain                    37
smoke                                     20
very heavy rain                           18
thunderstorm with light drizzle           15
light intensity shower rain               13
proximity thunderstorm with drizzle       13
light shower snow                         11
light rain and snow                        6
shower drizzle                             6
SQUALLS                                    4
sleet                                      3
thunderstorm with drizzle                  2
freezing rain                              2
shower snow                                1
Name: weather_description, dtype: int64

In [14]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
# Q6.3 What are the max, min, mean and the std of the `temp` column?
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?

print(f"Q6.1 max, min, mean and the std of the `traffic_volume` column: \n {round(df.traffic_volume.max(),3) , round(df.traffic_volume.min(),3), round(df.traffic_volume.mean(),3), round(df.traffic_volume.std(),3)} \
      \nQ6.2 max, min, mean and the std of the `clouds_all` column: \n {round(df.clouds_all.max(),3), round(df.clouds_all.min(),3), round(df.clouds_all.mean(),3), round(df.clouds_all.std(),3)} \
      \nQ6.3 max, min, mean and the std of the `temp` column`: \n {round(df.temp.max(),3), round(df.temp.min(),3), round(df.temp.mean(),3), round(df.temp.std(),3)} \
      \nQ6.4 max, min, mean and the std of the `rain_1h` column: \n {round(df.rain_1h.max(),3), round(df.rain_1h.min(),3), round(df.rain_1h.mean(),3), round(df.rain_1h.std(),3)} \
      \nQ6.5 max, min, mean and the std of the `snow_1h` column: \n {round(df.snow_1h.max(),3), round(df.snow_1h.min(),3), round(df.snow_1h.mean(),3), round(df.snow_1h.std(),3)}")

Q6.1 max, min, mean and the std of the `traffic_volume` column:
 (7280.0, 0.0, 3259.859, 1986.973)
Q6.2 max, min, mean and the std of the `clouds_all` column:
 (100.0, 0.0, 49.369, 39.016)
Q6.3 max, min, mean and the std of the `temp` column`:
 (310.07, 0.0, 281.201, 13.337)
Q6.4 max, min, mean and the std of the `rain_1h` column:
 (9831.3, 0.0, 0.334, 44.796)
Q6.5 max, min, mean and the std of the `snow_1h` column:
 (0.51, 0.0, 0.0, 0.008)

In [15]:
# Display data types of all columns (int)
print(f"data types of all columns \n{df.dtypes}")
int64_list, float64_list, object_list = [], [], []
for i in df.columns:
    if df[i].dtype == 'int64':
        int64_list.append(i)
    if df[i].dtype == 'float64':
        float64_list.append(i)
    if df[i].dtype == 'O':
        object_list.append(i)
    
# Q7.1 How many columns have `object` data type?
# Q7.2 How many columns have `int64` data type?
# Q7.3 How many columns have `float64` data type?
# Q7.4 What are the columns with dtype == `float64`?
# Q7.5 What are the columns with dtype == `int64`?
print(f'{len(object_list)} columns have `object` data type \
        \n{len(int64_list)} columns have `int64` data type \
        \n{len(float64_list)} columns have `float64` data type \
        \n{float64_list} columns with dtype `float64` \
        \n{int64_list} columns with dtype `int64`')

data types of all columns
holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object
4 columns have `object` data type
0 columns have `int64` data type
5 columns have `float64` data type
['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'traffic_volume'] columns with dtype `float64`
[] columns with dtype `int64`

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [16]:
# Select rows by position (int) 

# Q8.1 What is the temperature of the time slot with index 777?
# Q8.2 What is the weather description of the time slot with index 999?
# Q8.3 How much is cloud coverage with index 1337?
# Q8.4 What is the weather main of the time slot with index 314?
# Q8.5 When was the time slot with index of 2718 observed?

print(f'Q8.1: {df.temp.iloc[777]}\
        \nQ8.2: {df.weather_description.iloc[999]}\
        \nQ8.3: {df.clouds_all.iloc[1337]}\
        \nQ8.4: {df.weather_main.iloc[314]}\
        \nQ8.5: {df.date_time.iloc[2718]}')

Q8.1: 278.5
Q8.2: overcast clouds
Q8.3: 1.0
Q8.4: Clouds
Q8.5: 2013-01-06 14:00:00

In [17]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
# Q9.2 What is the weather description of the time slot on index 5695?
# Q9.3 How much is cloud coverage on the index 1045?
# Q9.4 What is the weather main of the time slot from index 252?
# Q9.5 When was the time slot with index of 38 captured?

print(f'Q9.1: {df.temp.loc[1102]}\
        \nQ9.2: {df.weather_description.loc[5695]}\
        \nQ9.3: {df.clouds_all.loc[1045]}\
        \nQ9.4: {df.weather_main.loc[252]}\
        \nQ9.5: {df.date_time.loc[38]}')

Q9.1: 280.43
Q9.2: overcast clouds
Q9.3: 20.0
Q9.4: Clear
Q9.5: 2012-10-04 03:00:00

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# Q10.2 When was the first "light intensity drizzle" in weather description captured?
# Q10.3 How many time slots have cloud coverage more than 75?
# Q10.4 How many time slots are foggy? (weather_main = Fog)
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?

first = df.query("weather_description == 'light intensity drizzle'")[['date_time']].iloc[0][0]
Fog = df.query('weather_main == "Fog"').shape[0]
heavy_snow = df.query('weather_description == "heavy snow"')[['date_time']].sort_values(by=['date_time']).iloc[-1][0]

print(f"Q10.1: {df.query('temp < 270').shape[0]} \
        \nQ10.2: {first} \
        \nQ10.3: {df.query('clouds_all > 75').shape[0]}\
        \nQ10.4: {Fog}\
        \nQ10.5: {heavy_snow}")

Q10.1: 9308
Q10.2: 2012-10-10 07:00:00
Q10.3: 18036
Q10.4: 912
Q10.5: 2018-04-15 18:00:00

In [19]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?

traf_nov = df.query('date_time == "2016-11-20 20:00:00"')[['traffic_volume']].iloc[0][0]
rain_am = df.query('rain_1h != 0.0').iloc[69].rain_1h
sky_cov_oct = df.query('date_time == "2012-10-16 19:00:00"')[["clouds_all"]].iloc[0][0]
traf_vol = df.query('clouds_all == 90').iloc[34].traffic_volume
weat_des = df.query('weather_main == "Thunderstorm"').iloc[20].weather_description

print(f'Q11.1: {traf_nov}\
        \nQ11.2: {rain_am}\
        \nQ11.3: {sky_cov_oct}\
        \nQ11.4: {traf_vol}\
        \nQ11.5: {weat_des}')

Q11.1: 2070.0
Q11.2: 0.25
Q11.3: 68.0
Q11.4: 3833.0
Q11.5: proximity thunderstorm with rain

In [20]:
# Q12.1 What is the temperature of the tenth holiday?
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
# Q12.3 How much is the temperature of the twelfth holiday?
# Q12.4 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?

temp_10_hol = df.query('holiday != None')['temp'].iloc[10]
traf_99 = df.query('clouds_all == 75.0').iloc[99].traffic_volume
temp_12_hol = df.query('holiday != None')['temp'].iloc[11]
temp_666 = df.query("weather_description == 'proximity thunderstorm'").iloc[666].temp
temp_1337 = df.query("clouds_all <= 20").iloc[1337].temp

print(f'Q12.1: {temp_10_hol}\
        \nQ12.2: {traf_99}\
        \nQ12.3: {temp_12_hol}\
        \nQ12.4: {temp_666}\
        \nQ12.5: {temp_1337}')

Q12.1: 290.97
Q12.2: 762.0
Q12.3: 289.38
Q12.4: 290.84
Q12.5: 277.06

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [21]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.


# Q13.1 
df['temp_in_celcius'] = df['temp'].apply(lambda x: x - 273.15)
# Q13.2
df['hot'] = df['temp'] > 300
# Q13.3
df['rainy_and_cloudy'] = (df['rain_1h'] > 0.1) & (df['clouds_all'] > 50.0)
# Q13.4
df['is_holiday'] = (df['holiday'] != "None")
# Q13.5
df['traffic_cat'] = pd.qcut(df['traffic_volume'],
                              q=[0, .2, .4, .6, .8, 1],
                              labels=['1', '2', '3', '4', '5'])

In [22]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?

cloudy_slots = df.query("(date_time <= '2016-11-30 23:00:00') and (date_time >= '2016-09-01 00:00:00') \
                        and (weather_main == 'Clouds')").shape[0]

rainy_slots = df.query("(((date_time <= '2012-11-30 23:00:00') and (date_time >= '2012-09-01 00:00:00')) \
                        or ((date_time <= '2013-11-30 23:00:00') and (date_time >= '2013-09-01 00:00:00')) \
                        or ((date_time <= '2014-11-30 23:00:00') and (date_time >= '2014-09-01 00:00:00')) \
                        or ((date_time <= '2015-11-30 23:00:00') and (date_time >= '2015-09-01 00:00:00')) \
                        or ((date_time <= '2016-11-30 23:00:00') and (date_time >= '2016-09-01 00:00:00')) \
                        or ((date_time <= '2017-11-30 23:00:00') and (date_time >= '2017-09-01 00:00:00')) \
                        or ((date_time <= '2018-11-30 23:00:00') and (date_time >= '2018-09-01 00:00:00'))) \
                        and (weather_main == 'Rain') and (traffic_volume > 2000.0)").shape[0]

warm_slots = df[(df.temp > 270.0) &  (df.weather_main.str.contains('Clouds'))].shape[0]

s = pd.Series(df.query("temp > 290").date_time.str.contains('03-08'))
warm_8march = df.loc[s[s].index[0]:s[s].index[-1]].traffic_volume.min()

max_traf = df.query("(date_time <= '2017-07-01 00:00:00') and (date_time >= '2017-06-01 00:00:00') \
                         and (weather_main == 'Clear')").traffic_volume.max()

print(f'Q14.1: {cloudy_slots}\
        \nQ14.2: {rainy_slots}\
        \nQ14.3: {warm_slots}\
        \nQ14.4: {warm_8march}\
        \nQ14.5: {max_traf}')

Q14.1: 643
Q14.2: 978
Q14.3: 12133
Q14.4: 4780.0
Q14.5: 6673.0

In [23]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)


# Q15.1 What was the average temperature of time slots with main weather "Haze"?
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
# Q15.5 What is the maximum temperature of time slots with clear sky?

av_temp = df.query('weather_main == "Haze"').temp.mean()

cold_2016 = df.query("(date_time >= '2016-01-01 00:00:00') and (date_time < '2017-01-01 00:00:00')") \
        .sort_values(by=['temp'], ascending = True).iloc[0].traffic_volume

max_snow = df.sort_values(by=['snow_1h'], ascending = False).snow_1h.iloc[0]
max_snow_traf = df.query('snow_1h == @max_snow').traffic_volume.mean()

median_april_temp = df.query("(date_time >= '2017-04-01 00:00:00') and (date_time < '2017-05-01 00:00:00')").temp.median()

max_clear_sky_temp = df.query('clouds_all == 0')['temp'].max()

print(f'Q15.1: {av_temp}\
        \nQ15.2: {cold_2016}\
        \nQ15.3: {max_snow_traf}\
        \nQ15.4: {median_april_temp}\
        \nQ15.5: {max_clear_sky_temp}')

Q15.1: 275.80473877851364
Q15.2: 1462.0
Q15.3: 3740.6666666666665
Q15.4: 282.01
Q15.5: 307.09

In [24]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_cloudy=True?
# Q16.2 What is the average traffic volume on holidays?
# Q16.3 What is the average traffic volume on non-holidays?
# Q16.4 What is the average traffic volume in the highest quantile?
# Q16.5 What is the average traffic volume in the lowest quantile?


av_rc = df.query('rainy_and_cloudy == True').temp_in_celcius.mean()
av_hol_tr = df.query('is_holiday == True').traffic_volume.mean()
av_nonhol_tr = df.query('is_holiday == False').traffic_volume.mean()
highest_quantile_traf = df.query('traffic_cat == "5"').traffic_volume.mean()
lowest_quantile_traf = df.query('traffic_cat == "1"').traffic_volume.mean()

print(f'Q16.1: {av_rc}\
        \nQ16.2: {av_hol_tr}\
        \nQ16.3: {av_nonhol_tr}\
        \nQ16.4: {highest_quantile_traf}\
        \nQ16.5: {lowest_quantile_traf}')

Q16.1: 13.584578809434692
Q16.2: 865.4426229508197
Q16.3: 3262.8938270065864
Q16.4: 5870.913350649351
Q16.5: 485.5536195809998

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [25]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
# Q17.2 Extract and store `year`
# Q17.3 Extract and store `month`
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
# Q17.6 Extract and store `hour`


# Q17.1
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')
# Q17.2 
df['year'] = df.date_time.dt.year
# Q17.3
df['month'] = df.date_time.dt.month
# Q17.4 
df['day'] = df.date_time.dt.day
# Q17.5 
df['weekday'] =df.date_time.dt.weekday
# Q17.6 
df['hour'] = df.date_time.dt.hour

df.drop(columns=['date_time'], inplace = True)

In [26]:
# Find some date related information from the data (int)

# Q18.1 What is the weekday with the highest traffic volume?
# Q18.2 What is the weekday with the lowest traffic volume?
# Q18.3 What is the average traffic volume during months of September?
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?

highest_traffic_weekday = int(df.sort_values(by=['traffic_volume'],ascending = False).weekday.iloc[0])

lowest_traffic_weekday = int(df.sort_values(by=['traffic_volume'],ascending = True).weekday.iloc[0])


aver_sept_traf = df.query('month == 9').traffic_volume.mean()

aver_15_19_traf = df.query("(hour >= 15) and (hour <= 19)").traffic_volume.mean()

bic_day_traf = df.query("(month == 6) and (day == 3)").traffic_volume.mean()

print(f'Q18.1: {highest_traffic_weekday} \
        \nQ18.2: {lowest_traffic_weekday} \
        \nQ18.3: {aver_sept_traf}\
        \nQ18.4: {aver_15_19_traf}\
        \nQ18.5: {bic_day_traf}')

Q18.1: 3
Q18.2: 5
Q18.3: 3303.049334377447
Q18.4: 4749.295714285714
Q18.5: 3445.976

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By group by we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [27]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.

traffic_by_year = df.groupby(['year']).median().traffic_volume

traffic_by_weekday = df.groupby(['weekday']).median().traffic_volume

temperature_by_traffic = df.groupby(['traffic_cat']).mean().temp_in_celcius

print(f'Q19.1: {traffic_by_year}\
        \nQ19.2: {traffic_by_weekday}\
        \nQ19.3: {temperature_by_traffic}')

Q19.1: year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64
Q19.2: weekday
0    3619.0
1    4070.0
2    4315.0
3    4280.0
4    4336.5
5    3003.0
6    2260.0
Name: traffic_volume, dtype: float64
Q19.3: traffic_cat
1    5.445774
2    6.031004
3    9.244710
4    9.797489
5    9.740191
Name: temp_in_celcius, dtype: float64

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [28]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
Y = df["traffic_volume"].values

Xdf = df.drop(columns=['holiday', 'temp', 'traffic_volume','traffic_cat'])

In [29]:
Xdf = pd.get_dummies(Xdf, columns=['is_holiday', 'weather_main', 'weather_description','rainy_and_cloudy', 'hot', \
                                  'month', 'year', 'weekday', 'hour'])

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [30]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=5)
for train_index, test_index in tscv.split(Xdf):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [   0    1    2 ... 8032 8033 8034] TEST: [ 8035  8036  8037 ... 16063 16064 16065]
TRAIN: [    0     1     2 ... 16063 16064 16065] TEST: [16066 16067 16068 ... 24094 24095 24096]
TRAIN: [    0     1     2 ... 24094 24095 24096] TEST: [24097 24098 24099 ... 32125 32126 32127]
TRAIN: [    0     1     2 ... 32125 32126 32127] TEST: [32128 32129 32130 ... 40156 40157 40158]
TRAIN: [    0     1     2 ... 40156 40157 40158] TEST: [40159 40160 40161 ... 48187 48188 48189]

In [31]:
from sklearn.preprocessing import StandardScaler
scaler_train = StandardScaler()
scaler_test = StandardScaler()

X_train, X_test = Xdf[:40158], Xdf[40158:]
y_train, y_test = Y[:40158], Y[40158:]

scaler_train.fit(X_train)
X_train_scaled = scaler_train.transform(X_train)

scaler_test.fit(X_test)
X_test_scaled = scaler_test.transform(X_test)

In [32]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression

from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

#Q22.1
Ridge_regression = Ridge(random_state = 17)
#Q22.2
DecisionTree_Regressor = DecisionTreeRegressor(random_state = 17)
#Q23.3
KNeighbors_Regressor = KNeighborsRegressor()

In [33]:
# Use grid search to select optimal hyperparamters of your models. 
from sklearn.model_selection import GridSearchCV 

# Q23.1 Alpha for a ridge regression
alpha_range = [0.01, 0.1 , 1.0, 10.0, 50.0, 100.0, 150.0, 200.0, 250.0, 300.0]
param_ridge = dict(alpha=alpha_range)
grid = GridSearchCV(Ridge_regression, param_ridge, scoring='neg_mean_squared_error', n_jobs=-1)
grid_ridge = grid.fit(X_train_scaled, y_train)

# Q23.2 Depth for the tree
depth_range = list(range(2, 26, 2))
param_dt = dict(max_depth=depth_range)
grid = GridSearchCV(DecisionTree_Regressor, param_dt, scoring='neg_mean_squared_error', n_jobs=-1)
grid_dt = grid.fit(X_train_scaled, y_train)


# Q23.3 Number of neighbours for the knn
k_range = list(range(1, 5))
param_knn = dict(n_neighbors=k_range)
grid = GridSearchCV(KNeighbors_Regressor, param_knn, scoring='neg_mean_squared_error', n_jobs=-1)
grid_knn = grid.fit(X_train_scaled, y_train)

In [35]:
# Compute train and test mean squared error for your best models (list of float).
from sklearn.metrics import mean_squared_error

# Q24.1 Train, test MSE using linear regression with l2 regularization
#grid_regression.fit(X_train, y_train)
reg = grid_ridge.best_estimator_
reg.fit(X_train_scaled, y_train)
print(f"train_MSE_Ridge: {mean_squared_error(y_train, reg.predict(X_train_scaled))}, \
        \ntest_MSE_Ridge: {mean_squared_error(y_test, reg.predict(X_test_scaled))}")

# Q24.2 Train, test MSE using decision tree regression
#grid_dt.fit(X_train, y_train)
dt = grid_dt.best_estimator_
dt.fit(X_train_scaled, y_train)
print(f"train_MSE_Dec_Tree: {mean_squared_error(y_train, dt.predict(X_train_scaled))}, \
        \ntest_MSE_Dec_Tree: {mean_squared_error(y_test, dt.predict(X_test_scaled))}")

# Q24.3 Train, test MSE using k nearest neighbours regression
#grid_knn.fit(X_train, y_train)
knn = grid_knn.best_estimator_
knn.fit(X_train_scaled, y_train)
print(f"train_MSE_knn: {mean_squared_error(y_train, knn.predict(X_train_scaled))}, \
        \ntest_MSE_knn: {mean_squared_error(y_test, knn.predict(X_test_scaled))}")

train_MSE_Ridge: 650381.0500212344,
test_MSE_Ridge: 664501.1772639198
train_MSE_Dec_Tree: 195989.24554698684,
test_MSE_Dec_Tree: 367441.15987779055
train_MSE_knn: 311828.7329299268,
test_MSE_knn: 640952.9244272908

In [36]:
# Compute train and test R^2 for your best models (list of float).
from scipy.stats import pearsonr
from sklearn.metrics import r2_score

# Q25.1 Train, test R^2 using linear regression with l2 regularization
print(f"train_R^2_Ridge: {r2_score(y_train, reg.predict(X_train_scaled))}, \
        \ntest_R^2_Ridge: {r2_score(y_test, reg.predict(X_test_scaled))}")

# Q25.2 Train, test R^2 using decision tree regression
print(f"train_R^2_Dec_Tree: {r2_score(y_train, dt.predict(X_train_scaled))}, \
        \ntest_R^2_Dec_Tree: {r2_score(y_test, dt.predict(X_test_scaled))}")

# Q25.3 Train, test R^2 using k nearest neighbours regression
print(f"train_R^2_knn: {r2_score(y_train, knn.predict(X_train_scaled))}, \
        \ntest_R^2_knn: {r2_score(y_test, knn.predict(X_test_scaled))}")

train_R^2_Ridge: 0.8358406637021398,
test_R^2_Ridge: 0.8286657446938548
train_R^2_Dec_Tree: 0.9505313623921526,
test_R^2_Dec_Tree: 0.9052593740229243
train_R^2_knn: 0.9212929130780976,
test_R^2_knn: 0.8347374003982693

In [37]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
#Ridge Regression
pd.DataFrame(reg.coef_, Xdf.columns) \
            .rename(columns={0:'coef_importance'}) \
            .sort_values(by=['coef_importance'],ascending = False)[0:5]

         coef_importance
hour_16       471.905793
hour_17       400.771231
hour_15       383.465859
hour_14       328.265855
hour_7        301.812676

In [38]:
#Ridge Regression
pd.DataFrame(reg.coef_, Xdf.columns) \
            .rename(columns={0:'coef_importance'}) \
            .sort_values(by=['coef_importance'],ascending = False)[-5:]

        coef_importance
hour_0      -485.087098
hour_4      -515.324191
hour_1      -547.145134
hour_2      -572.958080
hour_3      -574.773355

In [39]:
#Tree feature importance

In [40]:
pd.DataFrame(dt.feature_importances_, Xdf.columns) \
            .rename(columns={0:'feature_importance'}) \
            .sort_values(by=['feature_importance'],ascending = False)[0:5]

        feature_importance
hour_4            0.107533
hour_1            0.107186
hour_0            0.106322
hour_2            0.105415
hour_3            0.097054

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells